.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: rgb(252, 249, 249);
}
.dialogsItems {
    padding: 10px;
}
.dialog {padding: 10px;}
.active {
    color:gold;
}

.messages {padding: 10px;}

.message {padding: 10px;}