.nav {
  grid-area: n;
  background-color: rgba(0, 128, 0, 0.836);
  }

ul {
  list-style: none;
  padding: 0;
}

.item {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.activeLink {
  color: rgb(221, 247, 77);
}